
body {
    font-family: Montserrat, sans-serif;
    margin: 5px;
    background-color: whitesmoke;


}

main {
    margin: 0% 5% 5% 5%;
}


p {
    font-size: medium;
    margin-bottom: 1em;
    line-height: 1.5rem;
}


h1 {
    display: block;
    font-weight: 500;
    font-size: 3rem;
    margin: 1em 0em 2em 0em;
}

h2 {
    font-size: 1.75rem;
    font-weight:250;
    margin-top: 1em;
    margin-bottom: 1em;
}

h3 {
    font-size: 1.25rem;
    margin-bottom: 1em;
}

summary {
    margin-bottom: .5em;
}

img {
    width: 100%;
    margin-bottom: .5em;
}

h1 {
    display: block;
    text-align: center;
margin-bottom: 1rem;
}

li {
    margin-bottom: 1rem;
}

.skip a{
    background: white;
    left: 0;
    padding: 6px;
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 1;
    top: -40px;
    position: absolute;
  }

  .skip a:focus {
    position: absolute;
    top: 20px;
  }

  *:focus {
    border: solid 2px white;
  }

.top-bar {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    background-color: #00274C;
    height: 2em;
    justify-items: center;
    justify-content: center;

}

.top-bar li {
  margin-bottom: 0px;

}

.top-bar a {
    color: white;
    text-decoration: none;
    font-weight: bold;

}

.top-bar a:hover {
    color: #FFCB05;
    text-decoration: underline;
}

.urgent-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1em;
    position: sticky;
    top: 1em;
    margin: 2em;
    background-color: whitesmoke;
}

.resource-grid {
 display: grid;
 grid-template-columns: 50% 50%;
 column-gap: 10%;
row-gap: 1em;
 align-items: start;
}
 

.resource-grid div {
padding-bottom: 0px; 
}

.resource-grid p {
margin-bottom: 0px;}

.resource-grid div >p {
    height: 50%;
    overflow: auto;
}

.resource-grid div:nth-child(2) {
    grid-column: 1/-1;
    margin: 0px;
    padding:0px
}

.resource-grid div:last-child {
    grid-column: 1/-1;
    justify-items: start;
    color: black

}

#resource-grid-header{
    grid-column: 1/span 2;
    justify-items: start;
    margin-bottom: 0px;
}


header > img {
width: 100%;
}

.hero-image {
display: block;
align-self: center;
width: 100%;
height: auto;
margin-right: auto;
margin-left: auto;

}
footer {
    display: flex;
    flex-direction: column;
    background-color: #00274c;
    color: white;
    height: 3em;
    padding: 3em;
    align-content: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
    border-top: #00274C solid 5px;}

footer a {
    color: yellow;
}



.services-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 1em;
}

.services-grid img {
    width: 100%;
    height: auto;
}

.help-grid {
display: grid;
grid-template-columns: 1fr 1fr;
list-style-type: none;
margin-bottom: 0px;
}


#third-dropdown::before {
    margin-top: -50px;

}

.tutoring-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    column-gap: 1em; }

button {
    background-color: #00274c;
    border: 1px #FFCB05 solid;
    color: white;
    height: 4em;
    padding: 1em 2em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

button:hover {
    background-color: #FFCB05;
    border: 1px #00274c solid;
    color: black;
}

.tutoring-faqs {
    display:grid;
    width: 100% ;
    grid-template-columns: 1fr 1fr;
    column-gap: 1em;
}

.tutoring-faqs>details>p
{ font-size: .8rem;
    overflow: auto;
}

#current {
    color: #FFCB05;
    text-decoration: underline;
}

#errorpage > img {
    display: none;

}


@media screen and (min-width: 900px) {
#umsiLogo {
    width: 20%;
}

main {
    padding: 2em;
    margin: 1em;
    font-size: large;
}

h1 {font-size: 4rem;}

h2{
    font-size: 2.5rem;
}

img {
    width: 50%;
}

.top-bar { 
    height: 3em;
}

/* My goal with the physical health tag was to condense this section into two columns, but I kept running into issues with the parent stylings. */
/* #physical-health {
    display: grid;
    grid-column: 1fr 1fr;
    grid-row: 1fr 1fr 1fr;

}

#physical-health > h2 {
    grid-column: 1/-1;
    grid-row: 1/2;
}

#physical-health > p:first-child {
grid-column: 1/-1;
grid-row: 1/2;
}
#physical-health > article:first-child {
   grid-column: 1/2;

}

#physical-health > article:last-child {
    grid-column: 2/3;
 
 }

#physical-health > article:first-child > figure > img {
    width: 100%;
    background-color: purple;

 }

 #physical-health > article:last-child > figure > img {
  width: 100%;
 
 } */

/*Attempted to create a stylized list but could not figure out how to change the style of the list numbers*/

/* section > ol
{display: inline-flex;
    flex-direction: column;
justify-items: center;
justify-content: center;
align-content: center;
color: black;
padding: 1em;
background-color: #FFCB05;
margin-left: 2em;
padding-left: 2em;
}


/* Come back to this */
/* section ol > li {
    color: white;
    background-color: #00274c;
    padding: .5rem;
    padding-left: 0px;
    margin-left: 0px;

}

section ol > li::before {
    display: inline-block;
    font-weight: bold;
    color: black;
    background-color: #00274C;

} */ */

.urgent-buttons {
justify-items: center;
display: block;
}

.resource-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 1em;
       row-gap: 1em;
    align-items: start;}

    .services-grid {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;
    }
    

    .services-grid img { min-height: 210px;}

    .hero-image {
        width: 50%;
    }

    .help-grid {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .welcome-line {
        background-color: #FFCB05;
        margin-top: 0px;
        margin-bottom: .5em;
        padding: 1em;
    }

    .header-canvas {background-image: url("../images/strolling_students.jpg");
        background-repeat: no-repeat;
        background-size:100%;
        background-position: 10%;
    
    }

    #umsi_tutoring_intro {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 2em;
    }

    #umsi_tutoring_intro > h2 {
        grid-column:1/3;
        grid-row: 1/1;
    }

    #umsi_tutoring_intro > img {
        grid-column: 1/2;
        grid-row: 2/4;
        width: 100%;
    }

    .tutoring_right_half {
        grid-column: 2/3;
    grid-row: 2/4;
    }

    .tutoring_left_half {
        grid-column: 1/2;
        grid-row: 2/4;

    }

    #umsi_peer_tutoring {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 10% 80% 10%;
        row-gap: 2em;
        margin-bottom: -25%;
        column-gap: 2em;

    }

    #umsi_peer_tutoring > h2{
        grid-column: 1/-1;
        margin-bottom: 6em ;

    }

    #umsi_peer_tutoring > img {
        grid-column: 2/3;
        grid-row: 2/4;
        width: 100%;
    }

    .tutoring-grid {
        display: inline-block;
    }

    #errorpage {
        display: grid;
        grid-template-columns: 2fr 1fr;
    }

    #errortext {
        grid-column: 1/2;
        align-content: stretch;
        justify-items: center;
    }
    #errortext h1, p, a, button {
        align-items: space-evenly;
    }
    #errorpage > img {
        display:revert;
        grid-column: 2/3;
        grid-row: 1/2;
        width: 80%;
}

.urgent-buttons {
    display: inline-flex;
    justify-self: center;
    position: sticky;
    top: 1em;
    margin: 2em;
    background-color: white;
}

#information-section {
    display: grid;
    grid-template-columns: 1fr 1fr 45%;
    grid-template-rows: 90% 1fr;
    column-gap: 1em;
    row-gap: .5em;

}

#information-section > div:first-child() {
    grid-row: 1/2;

}

#information-section > div:nth-child(2) {
    grid-column: 2/3;
    grid-row: 1/2;

}

#information-section > div > img {
    width: 100%;
    align-content: end;
    align-items: end;
    grid-column: 3/4;

}

#map-link {
    grid-row: 2/3;
    grid-column: 3/4;

}

.hero-image {
    width: 50%;
}

#maizeandblue-location {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100%;
}

#maizeandblue-location > article:first-child {
    grid-column: 1/2;
}

#maizeandblue-location > article:last-child {
    grid-column: 2/3;
}
}

}
